.toolbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color:#297f5e;
    height: 60px;
    z-index: 100;
   
}
.toolbar_navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding:0 1rem ;
}
.toolbar_logo {
    margin-left: 3rem;
    width: 100%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bolder;
    font-size: 2em;

}
.toolbar_logo >center >img{
    height: 50px;
    width: 85px;

}
.toolbar_navigation_items a{
       color: white;
       text-decoration: none;

}
.spacer{
    flex: 1;
}
.toolbar_navigation_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_navigation_items li{
    padding: 0 0.5rem ;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
    color: yellow ;
}
.menu{
    background-color: #297f5e;
    color: aliceblue;
}
@media screen and (min-width: 700px) {
    .menu {
     display: none;
    }
    

  }
  @media screen and (max-width: 500px)  {
    .toolbar{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        background-color:#297f5e;
        height: 60px;
        z-index: 100;
       
    }
    .toolbar_logo {
        margin-left: 2rem;
        width: 100%;
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        font-weight: bolder;
        font-size: 1rem;
        padding: 0;
      left: -5%;
      float:right

    }
    .toolbar_logo >center >img{
        height: 35px;
        width: 70px;
        
    
    }
    .toolbar_navigation_items a{
           color: white;
           text-decoration: none;
           
    
    }

  }
  @media screen and (max-width: 342px) {
    
    .toolbar_logo {
        margin-left: 1rem;
        width: 85%;
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        font-weight: bolder;
        font-size: .9rem;
        display:inline-flex
    }
    .toolbar_logo >center >img{
        height: 25px;
        width: 42px;
        display: inline-flex;
    
    }
    .toolbar_navigation_items a{
           color: white;
           text-decoration: none;
           
    
    }

  }
  @media screen and (max-width: 280px) {
    .toolbar_logo >center >img{
        height: 25px;
        width: 42px;
        display: inline-flex;
    
    }
    .toolbar_logo {
        margin-left: 1rem;
        width: 85%;
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        font-weight: bolder;
        font-size: .8rem;
        display:inline-flex
    }
  }
  