.container{
    margin-top:-3%;
    top:0%;
    position: relative;
  
  }
  
  form span {
    font-size: .8rem;
    left:0;
  }
  
  #reset_pass_lbl {
    float: left
  }
  h2 {
    font-weight: 300
  }
  
  form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0
  }
  form>p{
    margin-bottom: 1px;
  }
  
  form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
  }
  
  .right-label {
    float: right;
    cursor: pointer
  }
  
  input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom:1px;
  }
  
  #sub_btn {
   
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
    margin: .2rem;
  }
  
  #sub_btn:hover {
    background: rgb(13, 167, 244);
    transition: all .5s
  }
  
  footer p {
    margin: 0;
    font-size: .9rem
  }