.container{
    margin-top:-3%;
    top:0%;
    position: relative;
    margin-left: 30rem;
   
  }
  
  form span {
    font-size: .8rem;
    left:0;
  }
  
  
  h2 {
    font-weight: 300
  }
  
  form {
    /* display: inline-block; */
    background: #13a19d;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0
  }
  form>p{
    margin-bottom: 1px;
  }
  
  form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
  }
  
  
  input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: rgb(236, 161, 11);
    margin-bottom:1px;
  }
  
  #sub_btn {
   
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
    margin-left: 4rem;
    margin-top: 1rem;
  }
  
  #sub_btn:hover {
    background: rgb(13, 167, 244);
    transition: all .5s
  }
  
  